# Server Configuration
PORT=8001
PYTHON_VERSION=3.10.12

# AI Models & Processing
# TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe  # Required for Windows if not in PATH

# External APIs
EZPAY_BACKEND_URL=https://lightslategray-rabbit-263615.hostingersite.com/api
